.container, #views-exposed-form-index-news-block-1, #views-exposed-form-index-news-page-1 {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
}

#block-views-block-index-news-block-1 h2 {
  width: 100%;
  margin: 20px auto 50px;
  overflow: hidden;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #373645;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 50px;
  background-color: #ffffff;
}
#block-views-block-index-news-block-1 h2:before, #block-views-block-index-news-block-1 h2:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 0.5em 0 -55%;
  vertical-align: middle;
  border-bottom: 2px solid #e8e8e8;
}
#block-views-block-index-news-block-1 h2:after {
  margin: 0 -55% 0 0.5em;
}
#block-views-block-index-news-block-1 .view-index-news {
  padding: 15px 0 80px;
  background: repeating-linear-gradient(-45deg, #ffffff, #ffffff 6px, #cccccc 9px, #cccccc 9px);
}
#block-views-block-index-news-block-1 .views-row {
  background-color: #ffffff;
}

#views-exposed-form-index-news-block-1 .form--inline, #views-exposed-form-index-news-page-1 .form--inline {
  width: fit-content;
  display: flex;
  background-color: #f5f5f5;
  padding: 5px;
  margin-bottom: 15px;
}
#views-exposed-form-index-news-block-1 .form--inline .form-item, #views-exposed-form-index-news-block-1 .form--inline .form-actions, #views-exposed-form-index-news-page-1 .form--inline .form-item, #views-exposed-form-index-news-page-1 .form--inline .form-actions {
  margin: 0;
}
#views-exposed-form-index-news-block-1 .form--inline .form-text, #views-exposed-form-index-news-page-1 .form--inline .form-text {
  max-width: 335px;
  height: 35px;
  outline: none;
  border: 2px solid #e0e0e0;
  padding: 0 10px;
  border-radius: 4px;
  margin-right: 10px;
}
#views-exposed-form-index-news-block-1 .form--inline .form-text::placeholder, #views-exposed-form-index-news-page-1 .form--inline .form-text::placeholder {
  font-family: "Lato", sans-serif;
  color: #cdcdcd;
  opacity: 1;
}
@media (max-width: 468px) {
  #views-exposed-form-index-news-block-1 .form--inline .form-text, #views-exposed-form-index-news-page-1 .form--inline .form-text {
    max-width: 210px;
  }
}
#views-exposed-form-index-news-block-1 .form--inline .form-submit, #views-exposed-form-index-news-page-1 .form--inline .form-submit {
  border-radius: 4px;
  height: 35px;
  width: 65px;
  outline: none;
  border: none;
  background-color: #67bfdc;
  color: #ffffff;
}

.node--news-article-teaser .node__content {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  background-color: #ffffff;
  padding: 20px 10px;
}
.node--news-article-teaser .field {
  padding-bottom: 5px;
}
.node--news-article-teaser .layout--onecol:nth-child(1) {
  width: 10%;
}
@media (max-width: 468px) {
  .node--news-article-teaser .layout--onecol:nth-child(1) {
    width: 100%;
  }
}
.node--news-article-teaser .layout--onecol:nth-child(1) .layout__region--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  margin-right: 20px;
}
@media (max-width: 468px) {
  .node--news-article-teaser .layout--onecol:nth-child(1) .layout__region--content {
    align-items: flex-start;
    margin-left: 20px;
  }
}
.node--news-article-teaser .layout--onecol:nth-child(1) .layout__region--content .field--name-field-date-day {
  text-transform: uppercase;
  color: #6E9ACA;
  font-size: 40px;
  line-height: 1;
}
.node--news-article-teaser .layout--onecol:nth-child(1) .layout__region--content .field--name-field-month-of-creation {
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #373645;
  text-transform: uppercase;
  font-size: 23px;
  margin-bottom: 5px;
  margin-bottom: 0;
}
.node--news-article-teaser .layout--onecol:nth-child(1) .layout__region--content .field--name-field-month-of-creation:hover {
  text-decoration: underline;
}
.node--news-article-teaser .layout--onecol:nth-child(1) .layout__region--content .field--name-field-month-of-creation:hover {
  text-decoration: none;
}
.node--news-article-teaser .layout--onecol:nth-child(1) .layout__region--content .field--name-field-date-year {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #cdcdcd;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.node--news-article-teaser .layout--onecol:nth-child(2), .node--news-article-teaser .layout--onecol:nth-child(3) {
  width: 85%;
  margin-left: auto;
  padding-left: 20px;
  border-left: 1px solid #E8E8E8;
}
@media (max-width: 468px) {
  .node--news-article-teaser .layout--onecol:nth-child(2), .node--news-article-teaser .layout--onecol:nth-child(3) {
    width: 100%;
  }
}
.node--news-article-teaser .layout--onecol:nth-child(2) .layout__region--content {
  display: flex;
  flex-flow: row wrap;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .node--news-article-teaser .layout--onecol:nth-child(2) .layout__region--content .block-field-blocknodenews-articlefield-main {
    width: 100%;
  }
}
.node--news-article-teaser .layout--onecol:nth-child(2) .layout__region--content .field--name-field-main {
  margin-right: 15px;
}
.node--news-article-teaser .layout--onecol:nth-child(2) .layout__region--content .field--name-field-main img {
  width: 75px;
  height: 75px;
}
.node--news-article-teaser .layout--onecol:nth-child(2) .layout__region--content .field--name-field-writer {
  display: flex;
  color: #373645;
}
.node--news-article-teaser .layout--onecol:nth-child(2) .layout__region--content .field--name-field-writer .field__label {
  font-weight: 400;
  color: #cdcdcd;
}
.node--news-article-teaser .layout--onecol:nth-child(2) .layout__region--content .field--name-field-writer .field__label::after {
  content: "";
}
.node--news-article-teaser .layout--onecol:nth-child(2) .layout__region--content .field--name-field-news-topic {
  color: #6E9ACA;
  position: relative;
  margin-left: 5px;
}
.node--news-article-teaser .layout--onecol:nth-child(2) .layout__region--content .field--name-field-news-topic::before {
  content: "/";
  position: absolute;
  left: -7px;
  color: #373645;
}
.node--news-article-teaser .layout--onecol:nth-child(2) .layout__region--content .block-field-blocknodenews-articlefield-news-topic {
  margin-right: auto;
}
.node--news-article-teaser .layout--onecol:nth-child(2) .layout__region--content .field--name-field-time-ago {
  margin-left: auto;
  color: #cdcdcd;
}
.node--news-article-teaser .layout--onecol:nth-child(3) {
  margin-top: 10px;
}
.node--news-article-teaser .layout--onecol:nth-child(3) .field--name-title {
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #373645;
  text-transform: uppercase;
  font-size: 23px;
  margin-bottom: 5px;
  text-align: left;
}
.node--news-article-teaser .layout--onecol:nth-child(3) .field--name-title:hover {
  text-decoration: underline;
}
.node--news-article-teaser .layout--onecol:nth-child(3) .field--name-body {
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: justify;
  letter-spacing: -0.5px;
}
.node--news-article-teaser .layout--onecol:nth-child(3) .block-field-blocknodenews-articlefield-read-more-link {
  margin-top: auto;
}
.node--news-article-teaser .layout--onecol:nth-child(3) .field--name-field-read-more-link {
  font-size: 14px;
  padding: 8px 0;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #373645;
  margin: 0 auto 20px;
  width: fit-content;
  margin: 10px 0 20px auto;
}
.node--news-article-teaser .layout--onecol:nth-child(3) .field--name-field-read-more-link a {
  padding: 8px;
}
.node--news-article-teaser .layout--onecol:nth-child(3) .field--name-field-read-more-link:hover {
  background-color: rgba(55, 54, 69, 0.9);
}

.node--news-article-full {
  margin-bottom: 100px;
}
@media (max-width: 862px) {
  .node--news-article-full {
    margin-bottom: 50px;
  }
}
.node--news-article-full .field--name-title {
  display: block;
  width: 100%;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #373645;
  text-transform: uppercase;
  font-size: 34px;
  margin: 60px 0 40px;
}
@media (max-width: 862px) {
  .node--news-article-full .field--name-title {
    font-size: 30px;
  }
}
@media (max-width: 468px) {
  .node--news-article-full .field--name-title {
    font-size: 26px;
  }
}
.node--news-article-full .clearfix::after {
  display: unset;
}
.node--news-article-full .field--name-field-writer {
  font-size: 18px;
  display: flex;
  color: #373645;
  margin-bottom: 10px;
}
.node--news-article-full .field--name-field-writer .field__label {
  font-weight: 600;
}
@media (max-width: 468px) {
  .node--news-article-full .field--name-field-writer {
    font-size: 14px;
  }
}
.node--news-article-full .field--name-field-news-topic {
  color: #6E9ACA;
  position: relative;
  font-size: 18px;
  margin-bottom: 10px;
}
@media (max-width: 468px) {
  .node--news-article-full .field--name-field-news-topic {
    font-size: 14px;
  }
}
.node--news-article-full .clearfix.field--name-body::after {
  display: table;
}
.node--news-article-full .field--name-field-main {
  float: left;
  width: 200px;
  height: 180px;
}
@media (max-width: 468px) {
  .node--news-article-full .field--name-field-main {
    width: 100px;
    height: 80px;
  }
}
.node--news-article-full .field--name-field-main img {
  width: 180px;
  height: 180px;
}
@media (max-width: 468px) {
  .node--news-article-full .field--name-field-main img {
    width: 80px;
    height: 80px;
  }
}
.node--news-article-full .field--name-field-date-day,
.node--news-article-full .field--name-field-month-of-creation,
.node--news-article-full .field--name-field-date-year,
.node--news-article-full .field--name-field-time-ago {
  font-size: 18px;
}
@media (max-width: 468px) {
  .node--news-article-full .field--name-field-date-day,
  .node--news-article-full .field--name-field-month-of-creation,
  .node--news-article-full .field--name-field-date-year,
  .node--news-article-full .field--name-field-time-ago {
    font-size: 14px;
  }
}
.node--news-article-full .field--name-field-time-ago {
  padding-left: 10px;
  position: relative;
}
.node--news-article-full .field--name-field-time-ago::after {
  position: absolute;
  content: "/";
  left: 0;
}
.node--news-article-full .field--name-body {
  margin-top: 20px;
}
.node--news-article-full .field--name-field-text-paragraph, .node--news-article-full .field--name-body {
  font-size: 28px;
  font-family: "Lato", sans-serif;
  margin-bottom: 30px;
}
@media (max-width: 862px) {
  .node--news-article-full .field--name-field-text-paragraph, .node--news-article-full .field--name-body {
    font-size: 24px;
  }
}
@media (max-width: 468px) {
  .node--news-article-full .field--name-field-text-paragraph, .node--news-article-full .field--name-body {
    font-size: 18px;
  }
}
.node--news-article-full .block-field-blocknodenews-articlefield-date-day,
.node--news-article-full .block-field-blocknodenews-articlefield-month-of-creation,
.node--news-article-full .block-field-blocknodenews-articlefield-date-year,
.node--news-article-full .block-field-blocknodenews-articlefield-time-ago {
  display: inline-block;
}

h2.block-views-blocknews-term-block-1.block-title {
  width: 100%;
  margin: 20px auto 50px;
  overflow: hidden;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #373645;
  text-transform: uppercase;
  margin-top: 50px;
}
h2.block-views-blocknews-term-block-1.block-title:before, h2.block-views-blocknews-term-block-1.block-title:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 0.5em 0 -55%;
  vertical-align: middle;
  border-bottom: 2px solid #e8e8e8;
}
h2.block-views-blocknews-term-block-1.block-title:after {
  margin: 0 -55% 0 0.5em;
}

/*# sourceMappingURL=news.css.map */
