.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
}

#block-views-block-projects-content-block-2 h2 {
  width: 100%;
  margin: 20px auto 50px;
  overflow: hidden;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #373645;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 50px;
  background-color: #ffffff;
}
#block-views-block-projects-content-block-2 h2:before, #block-views-block-projects-content-block-2 h2:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 0.5em 0 -55%;
  vertical-align: middle;
  border-bottom: 2px solid #e8e8e8;
}
#block-views-block-projects-content-block-2 h2:after {
  margin: 0 -55% 0 0.5em;
}
#block-views-block-projects-content-block-2 .view-projects-content {
  padding: 75px 0 150px;
  background: repeating-linear-gradient(-45deg, #ffffff, #ffffff 6px, #cccccc 9px, #cccccc 9px);
}
@media (max-width: 468px) {
  #block-views-block-projects-content-block-2 .view-projects-content {
    padding: 50px 0 100px;
  }
}
#block-views-block-projects-content-block-2 .view-content {
  margin-bottom: 45px;
}

.node--project.php-development .field--name-field-project-service-type a {
  color: #a061b9;
}
.node--project.web-development .field--name-field-project-service-type a {
  color: #34c3a5;
}
.node--project.app-development .field--name-field-project-service-type a {
  color: #e95749;
}
.node--project.drupal-project .field--name-field-project-service-type a {
  color: #5fbfe8;
}

.node--project-teaser {
  border-bottom: 2px solid #373645;
  padding-bottom: 25px;
  background-color: #fff;
}
.node--project-teaser .layout__region--content {
  text-align: center;
}
.node--project-teaser .layout__region--content .field--name-field-main img {
  width: 100%;
  max-width: 290px;
  height: auto;
  margin-bottom: 35px;
}
.node--project-teaser .layout__region--content .field--name-title {
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #373645;
  text-transform: uppercase;
  font-size: 23px;
  margin-bottom: 5px;
}
.node--project-teaser .layout__region--content .field--name-title:hover {
  text-decoration: underline;
}
.node--project-teaser .layout__region--content .field--name-field-read-more-link {
  font-size: 14px;
  padding: 8px 0;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #373645;
  margin: 0 auto 20px;
  width: fit-content;
}
.node--project-teaser .layout__region--content .field--name-field-read-more-link a {
  padding: 8px;
}
.node--project-teaser .layout__region--content .field--name-field-read-more-link:hover {
  background-color: rgba(55, 54, 69, 0.9);
}
.node--project-teaser .layout__region--content .field--name-field-project-service-type {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-bottom: 18px;
}

.node--project-full {
  margin-top: 100px;
}
@media (max-width: 862px) {
  .node--project-full {
    margin-top: 50px;
  }
}
.node--project-full .field--name-field-main {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 468px) {
  .node--project-full .field--name-field-main {
    float: unset;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.node--project-full .field--name-field-main img {
  margin: 15px;
  width: 300px;
  height: 300px;
}
@media (max-width: 862px) {
  .node--project-full .field--name-field-main img {
    width: 170px;
    height: 170px;
  }
}
.node--project-full .field--name-body, .node--project-full .field--name-field-text-paragraph {
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 30px;
}
.node--project-full .field--name-body::after, .node--project-full .field--name-field-text-paragraph::after {
  display: unset;
}
@media (max-width: 862px) {
  .node--project-full .field--name-body, .node--project-full .field--name-field-text-paragraph {
    font-size: 22px;
  }
}
@media (max-width: 468px) {
  .node--project-full .field--name-body, .node--project-full .field--name-field-text-paragraph {
    font-size: 18px;
  }
}
.node--project-full .field--name-title {
  display: block;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  font-size: 28px;
  margin-bottom: 70px;
}
@media (max-width: 862px) {
  .node--project-full .field--name-title {
    margin-bottom: 40px;
  }
}
@media (max-width: 468px) {
  .node--project-full .field--name-title {
    text-align: center;
  }
}
.node--project-full .field--name-field-project-service-type {
  text-transform: uppercase;
  margin: 60px 0;
}

h2.block-views-blockproject-term-block-1.block-title {
  width: 100%;
  margin: 20px auto 50px;
  overflow: hidden;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #373645;
  text-transform: uppercase;
  margin-top: 50px;
}
h2.block-views-blockproject-term-block-1.block-title:before, h2.block-views-blockproject-term-block-1.block-title:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 0.5em 0 -55%;
  vertical-align: middle;
  border-bottom: 2px solid #e8e8e8;
}
h2.block-views-blockproject-term-block-1.block-title:after {
  margin: 0 -55% 0 0.5em;
}

#block-exam-content .view-projects-content .node--project-teaser, #block-exam-content .view-projects-content .node__content, #block-exam-content .view-projects-content .layout, #block-exam-content .view-projects-content .layout__region--content {
  height: 100%;
}
#block-exam-content .view-projects-content .layout__region--content {
  display: flex;
  flex-direction: column;
}
#block-exam-content .view-projects-content .block-field-blocknodeprojectfield-read-more-link {
  margin-top: auto;
}

/*# sourceMappingURL=projects.css.map */
