.container, #block-views-block-service-content-block-2 h2 {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
}

#block-views-block-service-content-block-2 {
  margin-bottom: 100px;
}
#block-views-block-service-content-block-2 h2 {
  width: 100%;
  margin: 20px auto 50px;
  overflow: hidden;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #373645;
  text-transform: uppercase;
}
#block-views-block-service-content-block-2 h2:before, #block-views-block-service-content-block-2 h2:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 0.5em 0 -55%;
  vertical-align: middle;
  border-bottom: 2px solid #e8e8e8;
}
#block-views-block-service-content-block-2 h2:after {
  margin: 0 -55% 0 0.5em;
}
@media (max-width: 468px) {
  #block-views-block-service-content-block-2 {
    margin-bottom: 75px;
  }
}
#block-views-block-service-content-block-2 .node__content, #block-views-block-service-content-block-2 .layout {
  height: 100%;
}

.node--service-teaser {
  text-align: center;
  height: 100%;
}
.node--service-teaser .field--name-field-main {
  margin-bottom: 35px;
}
.node--service-teaser .field--name-field-main img {
  height: 120px;
  width: auto;
}
.node--service-teaser .layout__region--content {
  height: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
.node--service-teaser .field--name-title {
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #373645;
  text-transform: uppercase;
  font-size: 23px;
  margin-bottom: 5px;
  margin-bottom: 15px;
}
.node--service-teaser .field--name-title:hover {
  text-decoration: underline;
}
.node--service-teaser .field--name-body {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #cdcdcd;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 18px;
  margin-bottom: 35px;
}
.node--service-teaser .block-field-blocknodeservicefield-read-more-link {
  margin-top: auto;
}
.node--service-teaser .field--name-field-read-more-link {
  font-size: 14px;
  padding: 8px 0;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #373645;
  margin: 0 auto 20px;
  width: fit-content;
  margin-bottom: 0;
  background-color: #6E9ACA;
}
.node--service-teaser .field--name-field-read-more-link a {
  padding: 8px;
}
.node--service-teaser .field--name-field-read-more-link:hover {
  background-color: rgba(55, 54, 69, 0.9);
}
.node--service-teaser .field--name-field-read-more-link:hover {
  background-color: rgba(110, 154, 202, 0.9);
}

.node--service-full {
  margin: 100px 0;
}
@media (max-width: 862px) {
  .node--service-full {
    margin: 50px 0;
  }
}
@media (max-width: 468px) {
  .node--service-full .field--name-field-media-image {
    display: flex;
    justify-content: center;
  }
}
.node--service-full .field--name-field-media-image .field__item {
  float: right;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 862px) {
  .node--service-full .field--name-field-media-image .field__item {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 468px) {
  .node--service-full .field--name-field-media-image .field__item {
    float: unset;
  }
}
.node--service-full .field--name-field-media-image .field__item img {
  width: auto;
  height: 250px;
}
@media (max-width: 862px) {
  .node--service-full .field--name-field-media-image .field__item img {
    height: 170px;
  }
}
.node--service-full .field--name-body, .node--service-full .field--name-field-text-paragraph {
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 30px;
}
.node--service-full .field--name-body::after, .node--service-full .field--name-field-text-paragraph::after {
  display: unset;
}
@media (max-width: 862px) {
  .node--service-full .field--name-body, .node--service-full .field--name-field-text-paragraph {
    font-size: 22px;
  }
}
@media (max-width: 468px) {
  .node--service-full .field--name-body, .node--service-full .field--name-field-text-paragraph {
    font-size: 18px;
  }
}
.node--service-full .field--name-title {
  display: block;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  font-size: 28px;
  margin-bottom: 70px;
}
@media (max-width: 862px) {
  .node--service-full .field--name-title {
    margin-bottom: 40px;
  }
}
@media (max-width: 468px) {
  .node--service-full .field--name-title {
    text-align: center;
  }
}

#block-exam-content .view-service-content .node__content, #block-exam-content .view-service-content .layout {
  height: 100%;
}

/*# sourceMappingURL=services.css.map */
