#block-views-block-team-content-block-2 {
  margin-bottom: 180px;
}
#block-views-block-team-content-block-2 h2 {
  width: 100%;
  margin: 20px auto 50px;
  overflow: hidden;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #373645;
  text-transform: uppercase;
}
#block-views-block-team-content-block-2 h2:before, #block-views-block-team-content-block-2 h2:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 0.5em 0 -55%;
  vertical-align: middle;
  border-bottom: 2px solid #e8e8e8;
}
#block-views-block-team-content-block-2 h2:after {
  margin: 0 -55% 0 0.5em;
}
@media (max-width: 862px) {
  #block-views-block-team-content-block-2 {
    margin-bottom: 120px;
  }
}
@media (max-width: 468px) {
  #block-views-block-team-content-block-2 {
    margin-bottom: 90px;
  }
}

.node--employee-teaser .layout__region--content .field--name-field-main {
  display: flex;
  justify-content: center;
}
.node--employee-teaser .layout__region--content .field--name-field-main img {
  width: 100%;
  max-width: 290px;
  height: auto;
  margin-bottom: 35px;
}
.node--employee-teaser .layout__region--content .flag-like-employee {
  float: right;
  margin-right: 15%;
}
.node--employee-teaser .layout__region--content .block-field-blocknodeemployeefield-social-li {
  display: inline;
}
.node--employee-teaser .layout__region--content .block-field-blocknodeemployeefield-social-li .social-link-field {
  width: 50%;
  display: inline-flex;
  margin-left: 10%;
}
.node--employee-teaser .layout__region--content .field--name-title {
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #373645;
  text-transform: uppercase;
  font-size: 23px;
  margin-bottom: 5px;
}
.node--employee-teaser .layout__region--content .field--name-title:hover {
  text-decoration: underline;
}
.node--employee-teaser .layout__region--content .field--name-field-occupation {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #cdcdcd;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.node--employee-teaser .layout__region--content .field--name-field-read-more-link {
  font-size: 14px;
  padding: 8px 0;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #373645;
  margin: 0 auto 20px;
  width: fit-content;
}
.node--employee-teaser .layout__region--content .field--name-field-read-more-link a {
  padding: 8px;
}
.node--employee-teaser .layout__region--content .field--name-field-read-more-link:hover {
  background-color: rgba(55, 54, 69, 0.9);
}

.node--employee-full {
  margin-bottom: 100px;
}
@media (max-width: 862px) {
  .node--employee-full {
    margin-bottom: 50px;
  }
}
.node--employee-full .field--name-title {
  display: block;
  width: 100%;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #373645;
  text-transform: uppercase;
  font-size: 34px;
  margin: 60px 0 40px;
}
@media (max-width: 862px) {
  .node--employee-full .field--name-title {
    font-size: 30px;
  }
}
@media (max-width: 468px) {
  .node--employee-full .field--name-title {
    font-size: 26px;
    margin: 20px 0;
  }
}
.node--employee-full .field--name-field-occupation {
  font-size: 18px;
  display: flex;
  color: #373645;
  margin-bottom: 10px;
}
.node--employee-full .field--name-field-occupation .field__label {
  font-weight: 600;
}
@media (max-width: 468px) {
  .node--employee-full .field--name-field-occupation {
    font-size: 14px;
  }
}
.node--employee-full .field--name-field-main {
  float: left;
  width: 300px;
  height: 280px;
}
@media (max-width: 862px) {
  .node--employee-full .field--name-field-main {
    width: 250px;
    height: 230px;
  }
}
@media (max-width: 468px) {
  .node--employee-full .field--name-field-main {
    float: unset;
    display: flex;
    justify-content: center;
  }
}
.node--employee-full .field--name-field-main img {
  width: 280px;
  height: 280px;
}
@media (max-width: 862px) {
  .node--employee-full .field--name-field-main img {
    width: 230px;
    height: 230px;
  }
}
.node--employee-full .social-link-field {
  margin-bottom: 10px;
  margin-left: 0;
}
.node--employee-full .flag-like-employee {
  margin-bottom: 10px;
}
.node--employee-full .field--name-body {
  font-size: 28px;
  font-family: "Lato", sans-serif;
  margin-bottom: 30px;
}
@media (max-width: 862px) {
  .node--employee-full .field--name-body {
    font-size: 24px;
  }
}
@media (max-width: 468px) {
  .node--employee-full .field--name-body {
    font-size: 18px;
  }
}

.block-extra-field-blocknodeemployeeflag-like-employee {
  display: inline;
}
.block-extra-field-blocknodeemployeeflag-like-employee .action-flag a {
  background: url("https://img.icons8.com/ios/50/000000/like--v1.png") 0 0 no-repeat;
  background-size: cover;
  display: inline-block;
  height: 20px;
  width: 20px;
  text-indent: -99999em;
  overflow: hidden;
}
.block-extra-field-blocknodeemployeeflag-like-employee .action-unflag a {
  background: url("https://img.icons8.com/ios-filled/50/ff8de2/like--v1.png") 0 0 no-repeat;
  background-size: cover;
  display: inline-block;
  height: 20px;
  width: 20px;
  text-indent: -99999em;
  overflow: hidden;
}

/*# sourceMappingURL=team.css.map */
