// start generic styles for services block on homepage
#block-views-block-service-content-block-2 {
  h2 {
    @extend .container;
    @include section-front-title();
  }
  margin-bottom: 100px;
  @media (max-width: $phone) {
    margin-bottom: 75px;
  }
  .node__content, .layout{
    height: 100%;
  }
}

// start styles for service node (teaser)
.node--service-teaser {
  text-align: center;
  height: 100%;
  .field--name-field-main {
    margin-bottom: 35px;
    img {
      height: 120px;
      width: auto;
    }
  }
  .layout__region--content {
    height: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
  }
  .field--name-title {
    @include front-item-title-teaser();
    margin-bottom: 15px;
  }
  .field--name-body {
    @include front-item-text-teaser();
    margin-bottom: 35px;
  }
  .block-field-blocknodeservicefield-read-more-link {
    margin-top: auto;
  }
  .field--name-field-read-more-link {
    @include read-more-btn-teaser();

    margin-bottom: 0;
    background-color: $branding-color;
    &:hover {
      background-color: rgba($branding-color, 0.9);
    }
  }
}
// end styles for service node (teaser)

// start styles for service node (full)
.node--service-full {
  margin: 100px 0;
  @media (max-width: $tablet) {
    margin: 50px 0;
  }
  .field--name-field-media-image {
    @media (max-width: $phone) {
      display: flex;
      justify-content: center;
    }
    .field__item {
      float: right;
      width: 350px;
      height: 350px;
      @media (max-width: $tablet) {
        width: 200px;
        height: 200px;
      }
      @media (max-width: $phone) {
        float: unset;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: auto;
        height: 250px;
        @media (max-width: $tablet) {
          height: 170px;
        }
      }
    }
  }
  .field--name-body, .field--name-field-text-paragraph {
    &::after {
      display: unset;
    }
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 30px;
    @media (max-width: $tablet) {
      font-size: 22px;
    }
    @media (max-width: $phone) {
      font-size: 18px;
    }
  }
  .field--name-title {
    display: block;
    font-weight: 600;
    font-family: $text-font;
    font-size: 28px;
    margin-bottom: 70px;
    @media (max-width: $tablet) {
      margin-bottom: 40px;
    }
    @media (max-width: $phone) {
      text-align: center;
    }
  }
}
// end styles for service node (full)

// fix to align items with different height in a view row
#block-exam-content {
  .view-service-content {
    .node__content, .layout{
      height: 100%;
    }
  }
}
