// colors
$branding-bg: #373645;
$branding-color: #6E9ACA;
$gray: #E8E8E8;
$dark-gray: #cdcdcd;
$white: #ffffff;
$php-development-color: #a061b9;
$web-development-color: #34c3a5;
$app-development-color: #e95749;
$drupal-project-color: #5fbfe8;

// fonts
$branding-font: 'Roboto Slab', serif;
$text-font: 'Lato', sans-serif;

// breakpoints
$desktop: 1240px;
$desktopSmall: 1024px;
$tablet: 862px;
$phone: 468px;
