@import "variables";
.banner {

  // height of the banner block is height of the picture minus height of header
  height: calc(690px - 155px);
  @media (max-width: 1440px) {
    height: calc(518px - 155px);
  }
  @media (max-width: $desktop) {
    height: (calc(446px - 155px));
  }
  @media (max-width: $tablet) {
    height: calc(446px - 227px);
  }
  @media (max-width: $phone) {
    height: calc(446px - 202px);
  }
  #block-banner {
    .field--name-field-banner-background {
      img {
        max-width: 100%;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 690px;
        z-index: -10;
        object-fit: cover;
        display: block;
        @media (max-width: 1920px) {
          width: 1920px;
          height: 690px;
        }
        @media (max-width: 1440px) {
          width: 1440px;
          height: 518px;
        }
        @media (max-width: $desktop) {
          width: $desktop;
          height: 446px;
        }
      }
    }
  }
  // start styles for banner text

  .banner-content {
    text-transform: uppercase;
    font-family: $text-font;
    font-weight: 500;
    .field--name-field-banner-accent-text {
      color: #fff;
      font-size: 64px;
      line-height: 1;
      @media (max-width: $desktop) {
        font-size: 50px;
      }
      @media (max-width: $phone) {
        font-size: 35px;
      }
    }
    .field--name-field-banner-slogan {
      color: $branding-bg;
      font-size: 45px;
      line-height: 1;
      @media (max-width: $desktop) {
        font-size: 35px;
      }
      @media (max-width: $phone) {
        font-size: 24px;
      }
    }
    .field--name-field-banner-text {
      color: $branding-color;
      hyphens: auto;
      word-wrap: anywhere;
      font-size: 14px;
      @media (max-width: $desktop) {
        font-size: 12px;
      }
    }
    // end styles for banner text

    // start styles for banner text wrapper
    .banner-box {
      width: 470px;
      //margin-left: 9%;
      padding-top: 100px;
      padding-left: 100px;
      @media (max-width: 1440px) {
        width: 450px;
        padding-top: 60px;
        padding-left: 80px;
      }
      @media (max-width: $desktop) {
        padding-top: 40px;
        width: 390px;
      }
      @media (max-width: $tablet) {
        padding-top: 50px;
      }
      @media (max-width: $phone) {
        padding: 45px 0 0;
        margin: 0 auto;
        width: 310px;
      }
    }
    // end styles for banner text wrapper
  }
}
