@import "mixins";
@import "container";

// start generic styles for news block on homepage
#block-views-block-index-news-block-1 {
  h2 {
    @include section-front-title();
    margin-bottom: 0;
    padding-bottom: 50px;
    background-color: $white;
  }
  .view-index-news {
    padding: 15px 0 80px;
    background: repeating-linear-gradient(-45deg, #ffffff, #ffffff 6px, #cccccc 9px, #cccccc 9px);
  }
  .views-row {
    background-color: #ffffff;
  }
}
// end generic styles for news block on homepage

// start styles for exposed search form
#views-exposed-form-index-news-block-1, #views-exposed-form-index-news-page-1 {
  @extend .container;
  .form--inline {
    width: fit-content;
    display: flex;
    background-color: #f5f5f5;
    padding: 5px;
    margin-bottom: 15px;
    .form-item, .form-actions {
      margin: 0;
    }
    .form-text {
      max-width: 335px;
      height: 35px;
      outline: none;
      border: 2px solid #e0e0e0;
      padding: 0 10px;
      border-radius: 4px;
      margin-right: 10px;
      &::placeholder {
        font-family: $text-font;
        color: $dark-gray;
        opacity: 1;
      }
      @media (max-width: $phone) {
        max-width: 210px;
      }
    }
    .form-submit {
      border-radius: 4px;
      height: 35px;
      width: 65px;
      outline: none;
      border: none;
      background-color: #67bfdc;
      color: $white;
    }
  }
}
// end styles for exposed search form

// start styles for news article node (teaser)
.node--news-article-teaser {
  .node__content {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: $white;
    padding: 20px 10px;
  }
  .field {
    padding-bottom: 5px;
  }
  .layout--onecol:nth-child(1) {
    width: 10%;
    @media (max-width: $phone) {
      width: 100%;
    }
    .layout__region--content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-family: $text-font;
      margin-right: 20px;
      @media (max-width: $phone) {
        align-items: flex-start;
        margin-left: 20px;
      }
      .field--name-field-date-day {
        text-transform: uppercase;
        color: $branding-color;
        font-size: 40px;
        line-height: 1;
      }
      .field--name-field-month-of-creation {
        @include front-item-title-teaser();
        margin-bottom: 0;
        &:hover {
          text-decoration: none;
        }
      }
      .field--name-field-date-year {
        @include front-item-text-teaser();
      }
    }
  }
  .layout--onecol:nth-child(2), .layout--onecol:nth-child(3) {
    width: 85%;
    @media (max-width: $phone) {
      width: 100%;
    }
    margin-left: auto;
    padding-left: 20px;
    border-left: 1px solid $gray;
  }
  .layout--onecol:nth-child(2) {
    .layout__region--content {
      display: flex;
      flex-flow: row wrap;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 400;
      .block-field-blocknodenews-articlefield-main {
        @media (max-width: $desktopSmall) {
          width: 100%;
        }
      }
      .field--name-field-main {
        margin-right: 15px;

        img {
          width: 75px;
          height: 75px;
        }
      }
      .field--name-field-writer {
        display: flex;
        color: $branding-bg;
        .field__label {
          font-weight: 400;
          color: $dark-gray;
          &::after {
            content: "";
          }
        }
      }
      .field--name-field-news-topic {
        color: $branding-color;
        position: relative;
        margin-left: 5px;
        &::before {
          content: "/";
          position: absolute;
          left: -7px;
          color: $branding-bg;
        }
      }
      .block-field-blocknodenews-articlefield-news-topic {
        margin-right: auto;
      }
      .field--name-field-time-ago {
        margin-left: auto;
        color: $dark-gray;
      }
    }
  }
  .layout--onecol:nth-child(3) {
    margin-top: 10px;
    .field--name-title {
      @include front-item-title-teaser();
      text-align: left;
    }
    .field--name-body {
      text-transform: uppercase;
      font-size: 12px;
      font-family: $text-font;
      font-weight: 300;
      text-align: justify;
      letter-spacing: -0.5px;

    }
    .block-field-blocknodenews-articlefield-read-more-link {
      margin-top: auto;
    }
    .field--name-field-read-more-link {
      @include read-more-btn-teaser();
      margin: 10px 0 20px auto;
    }
  }
}
// end styles for news article node (teaser)

// start styles for news article node (full)
.node--news-article-full {
  margin-bottom: 100px;
  @media (max-width: $tablet) {
    margin-bottom: 50px;
  }
  .field--name-title {
    display: block;
    width: 100%;
    text-align: left;
    font-family: $text-font;
    font-weight: 600;
    color: $branding-bg;
    text-transform: uppercase;
    font-size: 34px;
    margin: 60px 0 40px;
    @media (max-width: $tablet) {
      font-size: 30px;
    }
    @media (max-width: $phone) {
      font-size: 26px;
    }
  }
  .clearfix::after {
    display: unset;
  }
  .field--name-field-writer {
    font-size: 18px;
    display: flex;
    color: $branding-bg;
    margin-bottom: 10px;
    .field__label {
      font-weight: 600;
    }
    @media (max-width: $phone) {
      font-size: 14px;
    }
  }
  .field--name-field-news-topic {
    color: $branding-color;
    position: relative;
    font-size: 18px;
    margin-bottom: 10px;
    @media (max-width: $phone) {
      font-size: 14px;
    }
  }
  .clearfix.field--name-body::after {
    display: table;
  }
  .field--name-field-main {
    float: left;
    width: 200px;
    height: 180px;
    @media (max-width: $phone) {
      width: 100px;
      height: 80px;
    }
    img {
      width: 180px;
      height: 180px;
      @media (max-width: $phone) {
        width: 80px;
        height: 80px;
      }
    }
  }
  .field--name-field-date-day,
  .field--name-field-month-of-creation,
  .field--name-field-date-year,
  .field--name-field-time-ago {
    font-size: 18px;
    @media (max-width: $phone) {
      font-size: 14px;
    }
  }
  .field--name-field-time-ago {
    padding-left: 10px;
    position: relative;
    &::after {
      position: absolute;
      content: "/";
      left: 0;
    }
  }
  .field--name-body {
    margin-top: 20px;
  }
  .field--name-field-text-paragraph, .field--name-body {
    font-size: 28px;
    font-family: $text-font;
    margin-bottom: 30px;
    @media (max-width: $tablet) {
      font-size: 24px;
    }
    @media (max-width: $phone) {
      font-size: 18px;
    }
  }
  .block-field-blocknodenews-articlefield-date-day,
  .block-field-blocknodenews-articlefield-month-of-creation,
  .block-field-blocknodenews-articlefield-date-year,
  .block-field-blocknodenews-articlefield-time-ago {
    display: inline-block;
  }
}
// end styles for news article node (full)

// styles for taxonomy page title
h2.block-views-blocknews-term-block-1.block-title {
  @include section-front-title();
  margin-top: 50px;
}
